<H1>HOME</H1>
<ul>
	<li><a href="index">Home</a></li>
	<li><a href="client">Account</a></li>
        <li><a href="billing">Billing</a></li>
	<li><a href="transactions">Transactions</a></li>
	<li><a href="priceplan">Price Plan</a></li>
	<li><a href="location">Location</a></li>
</ul>	
	
<br>
<br>
<br>
<br>

<h1 style="text-align:left" >Welcome to Mindboggle Corp. </h1>
<h4>Note we have implemented a page for each of the 5 tables</h4>
<h4>We do note implement a separate page for associative tables</h4>
<h4>We could change if needed, but this would be redundant and </h4>
<h4>clients wouldn't need to access separately</h4>


<style>
table, td, tr, th {
	border: solid;
}
form {
	border: solid;
	width: 15%
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #f1f1f1;
  overflow: hidden;
}

li {
   float: left;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
</style>


